body {
  color: #FCD8D4;
  margin: 0;
  text-align: center;
  font-family: cursive;




}

h1 {
  color: #986D8E;
  font-size:5.65rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  /* original - FCD8D4 */
  color: #986D8E;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}


h3{
  color: #986D8E ;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #986D8E;
  line-height: 2;
}

hr {
  border: dotted #F8E2CF 6px;
  border-bottom: none;
  width: 4%;
  margin: 25px auto;
}


a {
  color: #F8E2CF;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover {
  color: #3282B8;
}


.top-container {
  background-color: #EFE3D0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;

}

.bottom-container {
  background-color: #EFE3D0;
  padding: 50px 0 20px;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;c
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #986D8E;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}





.code-skill-description {
  clear: left;
}







.btn {
	box-shadow: 0px 1px 0px 0px #986D8E;
	background:linear-gradient(to bottom, #B97A95 5%, #986D8E 175%);
	background-color:#986D8E;
	border-radius:8px;
	border:1px solid #986D8E;
	display:inline-block;
	cursor:pointer;
	color:#986D8E;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 14px;
	text-decoration:none;
	text-shadow:0px -1px 0px #B97A95;
}
.myButton:hover {
	background:linear-gradient(to bottom, #B97A95 5%, #986D8E 100%);
	background-color:#B97A95;
}
.myButton:active {
	position:relative;
	top:1px;
}




/* css image section */

/* Hover text */
.container {
  position: relative;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 200px; /*auto*/
  transition: .5s ease;
  backface-visibility: hidden;

  object-fit: cover;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #986D8E;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
